.place__paragraf {
    font-family: Inter;
    font-size: 18px;
    line-height: 30px;
}

@media screen and (max-width: 768px) {
    .place__paragraf {
        font-size: 16px;
        line-height: 26px;
    }
}

@media screen and (max-width: 380px) {
    .place__paragraf {
        padding: 0 15px 0;
    }
}