
@font-face {
    src: url(/fonts/Inter/Inter-Regular.otf);
    font-family: 'Inter-Regular';
}
@font-face {
    src: url(/fonts/Inter/Inter-Bold.otf);
    font-family: 'Inter-Bold';
    font-style: bold;
}
@font-face {
    src: url(/fonts/Inter/Inter-Black.otf);
    font-family: 'Inter-Black';
    }
    @font-face {
        src: url(/fonts/Inter/Inter-Medium.otf);
        font-family: 'Inter-Medium';
        }

.page {
    min-width: 320px;
    max-width: 1600px;
    background-color: #2A2C2F;
}