@import url(./__item/photo-grid__item.css);
.photo-grid {
    max-width: 1184px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 16px;
    margin: 90px auto 0;

}
@media screen and (max-width: 1024px) {
    .photo-grid  {
        max-width: 928px;}}


@media screen and (max-width: 768px) {
    .photo-grid {
        max-width: 720px;
    }
}

@media screen and (max-width: 320px) {
    .photo-grid  {
        max-width: 288px;
    }
}