.header__lang {
    width: 80px;;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }

    .header__lang:last-of-type 
    {
        text-decoration: none;
    }