.header__lang {
    min-width: 80px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 700px) {
    .header__lang {
        min-width: 60px;
    }
}