.cover__subtitle {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    max-width: 360px;
    margin-top: 0;
    z-index: 1;
}

@media screen and (max-width: 510px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
    }
}