@import url(./__logo/header__logo.css);
@import url(./__lang-link_rus/header__lang-link_rus.css);
@import url(./__lang/header__lang.css);
@import  url(./__lang-link_eng/header__lang-link_eng.css);

.header {
    max-width: 1184px;
    max-height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    margin: 0 auto 0;
    padding-top: 28px;

}
