@import url(./__logo/header__logo.css);
@import url(./__lang/header__lang.css);
@import url(./__link/header__link.css);
@import url(./__link/_underline/header__link_underline.css);
.header {
    max-width: 1184px;
    max-height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    padding-top: 28px;
}

@media screen and (max-width: 1024px) {
    .header {
        margin: 0 48px 0 48px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        margin: 0 24px 0 24px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        margin: 0 16px 0 16px;
    }
}