.footer__author {
    max-width: 186px;
    font-family: Inter-Regular;
    font-size: 14px;
    line-height: 16px;
}

@media screen and (max-width: 660px) {
    .footer__author {
        font-size: 14px;
        line-height: 14px;
        padding-top: 20px;
    }
}
