.footer__link {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    color: white;
}

.footer__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 660px) {
    .footer__link {
        font-size: 24px;
        line-height: 2.5em;
        
    }
}
