.footer__links {
    width: 40%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
}

@media screen and (max-width: 660px) {
    .footer__links {
        min-height: 280px;
        flex-direction: column;
    }
}

@media screen and (max-width: 1024px) {
    .footer__links {
        width: 45%;
    }
}

@media screen and (max-width: 950px) {
    .footer__links {
        width: 60%;
    }
}