.lead__subtitle {
    color: white;
    max-width: 640px;
    margin: 30px auto 0;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    font-family: 'Inter', Arial, sans-serif;
}

@media screen and (max-width: 760px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        max-width: 288px;
        margin: 15px auto 0;
    }
}