.lead__caption {
    color: white;
    margin: 5px 0 0 0;
    font-size: 10px;
    line-height: 14px;
    font-family: 'Inter', Arial, sans-serif;
    letter-spacing: 0.15em;
    text-transform: uppercase
}

@media screen and (max-width: 1024px) {
    .lead__caption {
        margin: 5px 0 0 0;
    }
}

@media screen and (max-width: 768px) {
    .lead__caption {
        margin: 5px 0 0 24px;
    }
}

@media screen and (max-width: 320px) {
    .lead__caption {
        margin: 5px 0 0 16px;
    }
}