.cover__title {
    font-family: Inter;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    max-width: 550px;
    margin-bottom: 30px;
    z-index: 1;
}

@media screen and (max-width: 510px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
    }
}