@import url(./__image/place__image.css);
@import url(./__link/place__link.css);
@import url(./__paragraf/place__paragraf.css);
@import url(./__title/place__title.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__website/place__website.css);
.place {
    color: white;
    max-width: 928px;
    max-height: 660px;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 2fr;
}

@media screen and (max-width: 650px) {
    .place {
        grid-gap: 40px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, min-content);
    }
}