@import url(./__author/footer__author.css);
@import url(./__links/footer__links.css);
@import url(./__link/footer__link.css);

.footer {
    max-width: 1184px;
    margin: auto;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
}