.place__website {
    font-family: Inter-Regular;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

@media screen and (max-width: 650px) {
    .place__website {
        display: none;
    }
}